.container{
    margin-top: -6rem;

    display: flex;
    flex-direction: column;

    gap: 2rem;

}

.container a{
    width: 25rem;
    height: 5rem;
    padding: 3.5rem 1rem;

    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;
    text-decoration: none;
    font-size: 18px;

    color: #f5f5ef;
    background-color: #af00a8;

    border-radius: 15px;
}

.container a:hover{
    border: 1.5px solid #f5f5ef;

}

@media (min-width: 390px) and (max-width: 430px){
 
    .container a {
        
        width: 20rem;   
        height: 1rem;

        padding: 2.5rem 1rem;
        font-size: 12px;
    }
}

@media(max-width: 389px){

    .container{ 
        margin-top: -80px;
    }
    .container a {
        
        width: 15rem;
        height: 1rem;

        padding: 2.5rem 1rem;
        font-size: 12px;
    }
}

