.header{
    margin-top: -6rem;
  }

  .logo{
    width: 400px;
    height: 400px;
  }

  @media(min-width: 390px) and (max-width: 430px){
    
    .header{
      margin-top: -3rem;
      margin-bottom: 1rem;
    }

    .logo{
      width: 350px;
      height: 350px;
    }
  }

  @media(max-width: 389px){

    .header{
      margin-top: -3rem;
    }

    .logo{
      width: 300px;
      height: 300px;
    }
  }

